{% extends 'layout/base.html' %}
{% block js %}<script src="{{url_for('static', filename='js/cash.js')}}"></script>{% endblock %}
{% block css %}<link href="{{url_for('static', filename='css/cash.css')}}" rel="stylesheet" />{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin khách hàng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Customer name:</label>
                        <input type="text" class="form-control" id="name" required placeholder="Enter customer name"
                               name="name">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone number:</label>
                        <input type="text" class="form-control" id="phone" required placeholder="Enter phone number"
                               name="phone">
                    </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" onclick="pay()" value="Xác nhận"></input>
            </div>
            </form>

        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="text-center text-danger">THANH TOÁN</h2>
    <div class="content d-flex justify-content-between mt-5">
        <div class="list border-end pe-5" style="width:70%">
            <h3 class="text-center">GIỎ HÀNG</h3>
            <table class="table">
                <tr class="text-center">
                    <th></th>
                    <th>SÁCH</th>
                    <th>THỂ LOẠI</th>
                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN GIÁ</th>
                </tr>
                {% if 'cash' in session and session['cash'] %}
                {% for c in session['cash'].values() %}
                <tr id="cash{{c.id}}">
                    <td style="width:5%;">
                        <img src="{{c.image}}" alt="{{c.name}}" class="img-fluid"/>
                    </td>
                    <td>{{ c.name }}</td>
                    <td>{{ c.category }}</td>
                    <td>
                        <input type="number" min="1" onblur="update_to_cash({{c.id}}, this)" value="{{ c.quantity }}"
                               class="form-control m-auto" style="width:35%"/>
                    </td>
                    <td>{{ "{:,.0f}".format(c.price)}}₫</td>
                    <td>
                        <input type="button" value="X" class="btn-dlt btn" onclick="delete_from_cash({{ c.id }})"/>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>

            {% if not('cash' in session and session['cash']) %}
            <p class="text-center">CHƯA CÓ SẢN PHẨM NÀO</p>
            {% endif %}

        </div>
        <div class="w-25">
            <div class="form-add">
                <h4>THÊM SẢN PHẨM</h4>
                <form>
                    <div class="mb-3 mt-3">
                        <label for="id" class="form-label">Mã sách:</label>
                        <input type="text" class="form-control" required id="id" placeholder="Nhập mã sách" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Số lượng:</label>
                        <input type="text" class="form-control" required id="quantity" placeholder="Nhập số lượng"
                               name="quantity">
                    </div>
                    <input type="button" class="btn btn-add" onclick="add_to_cash()" Value="Thêm"/>
                </form>
            </div>

            <div class="info-cash mt-5 pt-5" style="width:100%">
                <h3 class="">CHI TIẾT HÓA ĐƠN</h3>
                <p class="mt-3">Tổng sản phẩm: <span class="cash-quantity">{{ cash.total_quantity }}</span></p>
                <p>Tổng tiền: <span class="cash-value">{{ "{:,.0f}".format(cash.total_value) }}</span>₫</p>
                {% if 'cash' in session and session['cash']%}
                <div class="info-btn d-flex">
                    <div class="confirm">
                        <button type="button" class="btn btn-pay p-1 me-1" data-bs-toggle="modal"
                                data-bs-target="#myModal">THANH TOÁN
                        </button>
                    </div>
                    <div class="delete">
                        <button type="button" class="btn btn-pay p-1" onclick="new_cash()">XÓA GIỎ HÀNG</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}