{% extends 'import.html'%}

{% block content %}
<h4 class="w-100 p-5 bg-primary text-center text-light">DANH SÁCH NHẬP SÁCH</h4>
<div class="container-fluid d-flex">
    <div class="cart-table pe-3 w-75">
        <table class="table">
            <tr class="border-bottom border-dark">
                <th>Mã SP</th>
                <th>Sản phẩm</th>
                <th>Thể loại</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
            {% if 'list' in session and session['list'] %}
            {% for c in session['list'].values() %}
            <tr id="list{{c.id}}">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.category}}</td>
                <td>
                    <input type="number" min="1" onblur="update_from_list({{c.id}}, this)" name="quantity"
                           value="{{ c.quantity }}"
                           class="form-control m-auto" style="width:35%"/>
                </td>
                <td>
                    <input type="button" onclick="delete_from_list({{c.id}})" class="btn btn-dlt" value="X"/>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <div class="confirm ps-5 mt-3 border-start">
        <p >Giới hạn:<span id="limit">{{limit_import}}</span></p>
        <input type="button" onclick="create()" class="btn btn-pay" value="Tạo phiếu"/>
    </div>
</div>

{% endblock %}