{% extends 'layout/base.html' %}

{% block css%}<link href="{{ url_for('static', filename='css/receipt_detail.css')}}" rel="stylesheet"/>{% endblock %}
{% block header %}{% endblock %}


{% block content %}
{% if receipt %}

<div class=" w-75 p-2 m-auto">
    <div class="mb-2 text-center"><a href="/receipt"><input type="button" class="btn btn-pay" value="< Trở về danh sách hóa đơn"/></a></div>
    <div class="container p-2 receipt border border-info rounded rounded-4">
        <h2 class="text-center">HÓA ĐƠN</h2>
        <p class="text-center"> Mã hóa đơn: <span class="bold-text">{{ receipt[0][4] }}</span></p>
        <div class="d-flex justify-content-between">
            <p> Khách hàng: <span class="bold-text">{{ receipt[0][6] }}</span></p>
            <p> Nhân viên thanh toán: <span class="bold-text">{{ receipt[0][7] }}</span></p>
        </div>
        <table class="table bg-light">
            <tr>
                <th>STT</th>
                <th>Sách</th>
                <th>Thể loại</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
            </tr>
            {% for r in receipt %}
            <tr>
                <td>{{ receipt.index(r) + 1 }}</td>
                <td>{{ r[1] }}</td>
                <td>{{ r[9] }}</td>
                <td>{{ r[2] }}</td>
                <td>{{ "{:,.0f}".format(r[3]) }} VND</td>
            </tr>
            {% endfor %}
        </table>

        <p>Số lượng: <span class="bold-text">{{ tQuantity }}</span> </p>
        <p>Tổng tiền: <span class="bold-text">{{ "{:,.0f}".format(total) }}</span> VND</p>
        <div class="d-flex justify-content-between border-bottom border-dark">
            <p>Ngày lập hóa đơn: {{ receipt[0][5] }} </p>
        </div>
    </div>
</div>

<div class="text-center">
    {% if not(receipt[0][8]) %}
        <input type="button" class="btn btn-add " value="Thanh toán"/>
    {% endif %}

</div>

{% endif %}
{% endblock%}

{% block footer %}{% endblock %}