<nav class="navbar navbar-expand-sm bg-light navbar-light border-bottom border-2 border-dark ">
    <div class="logo w-5">
        <div class="container">
            <a class="navbar-brand" href="/">SAPBAOLON</a>
        </div>
    </div>
    <div class="container-fluid cate w-70">
        <ul class="navbar-nav">
            {% for c in categories %}
            <li class="nav-item">
                <a class="nav-link active ps-3 pe-3" href="/?category_id={{ c.id }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="user-feature d-flex w-25 pe-3 ">
        {% if current_user.is_authenticated%}
        <div class="dropdown text-end">
            <button type="button" class="btn border p-0" style="width:30%" data-bs-toggle="dropdown">
                <img src="{{current_user.avatar}}" class="img-fluid">
            </button>
            <ul class="dropdown-menu  dropdown-menu-end">
                {% if current_user.user_role.value == 1 %}
                <li><a class="dropdown-item" href="/cash">Thanh toán</a></li>
                <li><a class="dropdown-item" href="/receipt">Tra cứu hóa đơn</a></li>
                {% elif current_user.user_role.value == 2 %}
                <li><a class="dropdown-item" href="/import">Nhập sách</a></li>
                <li><a class="dropdown-item" href="#">Tra cứu phiếu nhập</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/admin">Quản trị</a></li>
                {% endif %}
                <li><a class="dropdown-item text-danger" href="/logout">Đăng xuất</a></li>
            </ul>
        </div>
        {% else %}
        <div><a class="employee-login p-2 border-end text-dark" href="/login">Đăng nhập</a></div>
        <div>
            <a class="customer-cart p-2 text-dark" href="/cart">Giỏ hàng<span class="badge bg-danger cart-counter">{{ cart.total_quantity }}</span></a>
        </div>
        {% endif %}
    </div>
</nav>
